.title {
  text-align: center;
}

.card-container {
  margin: 15px;

  .card {
    margin-bottom: 15px;
  }
}
.top {
  margin-top: -12px;
}

.image-container {
  .image {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

.mat-list-item {
  height: 45px;
}
