<div class="projects-page">
  <mat-toolbar class="title">
    <header><span>about me</span></header>
  </mat-toolbar>

  <main>
    <div class="card-container top">
      <section>
        <mat-card class="card">
          <mat-card-title>Matt Groff</mat-card-title>
          <mat-card-subtitle>Direct of Engineering @ Umbrage</mat-card-subtitle>
          <mat-card-content>
            <div class="image-container">
              <img
                class="image"
                alt="picture of matt groff"
                src="/assets/profile-pic.jpg"
              />
            </div>

            <div class="text-container">
              <p>
                Nice to meet you! Click the &#9776; in the top left to see my
                experience & projects. I'm a Director of Engineering at Umbrage. 
                I mentor junior engineers and tech-lead projects. Code and go to meetings.
              </p>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="card">
          <mat-card-title>skills</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                React & React Native&nbsp;
                <img
                  alt="react logo"
                  class="tool-image"
                  src="/assets/tools/react.svg"
                />
              </mat-list-item>
              <mat-list-item>
                Angular2+&nbsp;
                <img
                  alt="angular logo"
                  class="tool-image small-tool"
                  src="/assets/tools/angular.svg"
                />
              </mat-list-item>
              <mat-list-item>
                NodeJS&nbsp;
                <img
                  alt="nodejs logo"
                  class="tool-image"
                  src="/assets/tools/nodejs.svg"
                />
              </mat-list-item>
              <mat-list-item>
                GraphQL&nbsp;
                <img
                  alt="graphql logo"
                  class="tool-image"
                  src="/assets/tools/graphql.svg"
                />
              </mat-list-item>
              <mat-list-item>
                Javascript & Typescript &nbsp;
                <img
                  alt="javascript logo"
                  class="tool-image small-tool"
                  src="/assets/tools/javascript.svg"
                />
                &nbsp;
                <img
                  alt="typescript logo"
                  class="tool-image small-tool"
                  src="/assets/tools/typescript.svg"
                />
              </mat-list-item>
              <mat-list-item>
                Database Modeling & API Design &nbsp;
                <img
                  alt="postgres logo"
                  class="tool-image small-tool"
                  src="/assets/tools/postgres.svg"
                />
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </section>
      <section>
        <mat-card class="card bottom">
          <mat-card-title>other info</mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                location &nbsp;&nbsp;&nbsp;Orlando, FL
              </mat-list-item>
              <mat-list-item>
                email me &nbsp;
                <a
                  href="mailto:someone@example.com?Subject=Hello%20Matt"
                  target="_top"
                >
                  mattlgroff@gmail.com</a
                >
              </mat-list-item>
              <mat-list-item>
                my code &nbsp;&nbsp;
                <a
                  href="https://github.com/mattlgroff"
                  target="_blank"
                  rel="noreferrer"
                >
                  github.com/mattlgroff</a
                >
              </mat-list-item>
              <mat-list-item>
                resume &nbsp;&nbsp;&nbsp;&nbsp;
                <a
                  href="https://represent.io/mattgroff"
                  target="_blank"
                  rel="noreferrer"
                >
                  represent.io/mattgroff</a
                >
              </mat-list-item>
              <mat-list-item>
                linkedin &nbsp;&nbsp;&nbsp;&nbsp;
                <a
                  href="https://www.linkedin.com/in/mattgroff/"
                  target="_blank"
                  rel="noreferrer"
                >
                  linkedin.com/in/mattgroff
                </a>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </main>
</div>
