<div class="projects-page">
  <mat-toolbar class="title">
    <span>about me</span>
  </mat-toolbar>

  <div class="card-container">
    <mat-card class="card">
      <mat-card-title>Matt Groff</mat-card-title>
      <mat-card-subtitle
        >Web Developer @ Intrepid (Accenture Digital
        Products)</mat-card-subtitle
      >
      <mat-card-content>
        <div class="image-container">
          <img class="image" src="/assets/profile-pic.jpg" />
        </div>

        <div class="text-container">
          <p>
            Nice to meet you! Click the &#9776; in the top left to see my
            experience & projects.
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="card">
      <mat-card-title>other info</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            email me &nbsp;
            <a
              href="mailto:someone@example.com?Subject=Hello%20Matt"
              target="_top"
            >
              mattlgroff@gmail.com</a
            >
          </mat-list-item>
          <mat-list-item>
            my code &nbsp;&nbsp;
            <a href="https://github.com/mattlgroff" target="_blank">
              github.com/mattlgroff</a
            >
          </mat-list-item>
          <mat-list-item>
            resume &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://represent.io/mattgroff" target="_blank">
              represent.io/mattgroff</a
            >
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
