<mat-sidenav-container class="container" (backdropClick)="toggleOpen()">
  <mat-sidenav opened="{{ opened }}" (keydown.escape)="toggleOpen()">
    <div class="close">
      <span class="close-btn" (click)="toggleOpen()">
        &times;
      </span>
    </div>
    <div class="image-container">
      <img
        src="/assets/profile-pic.jpg"
        alt="picture of matt groff"
        class="image"
      />
    </div>
    <app-sidenav-content (routeClick)="toggleOpen()"></app-sidenav-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="toggle" (click)="toggleOpen()">&#9776;</span>
      <span class="title" routerLink="/">matt groff</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
